#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2, h3, h4, p, li { text-align: left; }

.center { text-align: center; }

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  aspect-ratio: 1 / 1;
  border: 4px solid black;
  margin: 0 auto;
}

.bingo-cell {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: white;
}

.bingo-cell img {
  width: 100%;
  height: 15vh;
  /* object-fit: cover; */
  object-fit: contain;
  object-position: center;
}

.bingo-label {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
}

.bingo-cell.marked {
  background: #ffd700;
}